-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: realisasi_db
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bidangs`
--

DROP TABLE IF EXISTS `bidangs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bidangs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bidangs`
--

LOCK TABLES `bidangs` WRITE;
/*!40000 ALTER TABLE `bidangs` DISABLE KEYS */;
INSERT INTO `bidangs` VALUES (1,'Bidang Komunikasi',NULL,NULL),(2,'Bidang Informatika',NULL,NULL),(3,'Bidang Statistik & Persandian',NULL,NULL);
/*!40000 ALTER TABLE `bidangs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informasi_umum`
--

DROP TABLE IF EXISTS `informasi_umum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `informasi_umum` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `triwulan` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tahun` varchar(4) COLLATE utf8mb4_unicode_ci NOT NULL,
  `instansi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `penanggung_jawab` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `informasi_umum_user_id_foreign` (`user_id`),
  CONSTRAINT `informasi_umum_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informasi_umum`
--

LOCK TABLES `informasi_umum` WRITE;
/*!40000 ALTER TABLE `informasi_umum` DISABLE KEYS */;
INSERT INTO `informasi_umum` VALUES (8,1,'I-IV','2025','Tidak Diketahui','Tidak Diketahui','2025-10-20 22:15:17','2025-11-06 00:03:59'),(9,18,'I-IV','2025','Tidak Diketahui','Tidak Diketahui','2025-11-20 17:59:22','2025-11-20 17:59:22');
/*!40000 ALTER TABLE `informasi_umum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jabatans`
--

DROP TABLE IF EXISTS `jabatans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jabatans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `jenis_jabatan` enum('kepala_dinas','sekretaris','kepala_bidang','kepala_seksi','kepala_bagian','staff','kasubag_keuangan') CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jabatans`
--

LOCK TABLES `jabatans` WRITE;
/*!40000 ALTER TABLE `jabatans` DISABLE KEYS */;
INSERT INTO `jabatans` VALUES (1,'Kepala Dinas','kepala_dinas',NULL,NULL),(2,'Sekretaris','sekretaris',NULL,NULL),(3,'Kepala Bidang','kepala_bidang',NULL,NULL),(4,'Kepala Seksi','kepala_seksi',NULL,NULL),(5,'Kasubag Umum dan Kepegawaian','kepala_bagian',NULL,NULL),(10,'Kasubag Keuangan','kasubag_keuangan','2025-12-14 19:16:49','2025-12-14 19:16:49');
/*!40000 ALTER TABLE `jabatans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `realisasi_induks`
--

DROP TABLE IF EXISTS `realisasi_induks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `realisasi_induks` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tahun` year DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `bidang_id` bigint unsigned DEFAULT NULL,
  `seksi_id` bigint unsigned DEFAULT NULL,
  `sasaran_strategis` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `program` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `indikator` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hambatan` text COLLATE utf8mb4_unicode_ci,
  `rekomendasi` text COLLATE utf8mb4_unicode_ci,
  `tindak_lanjut` text COLLATE utf8mb4_unicode_ci,
  `dokumen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `strategi` text COLLATE utf8mb4_unicode_ci,
  `alasan` text COLLATE utf8mb4_unicode_ci,
  `disposisi_kabid` longtext COLLATE utf8mb4_unicode_ci,
  `disposisi_kadis` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_realisasi_induk_bidang` (`bidang_id`),
  KEY `realisasi_induks_seksi_id_foreign` (`seksi_id`),
  CONSTRAINT `fk_realisasi_induk_bidang` FOREIGN KEY (`bidang_id`) REFERENCES `bidangs` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `realisasi_induks_seksi_id_foreign` FOREIGN KEY (`seksi_id`) REFERENCES `seksis` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `realisasi_induks`
--

LOCK TABLES `realisasi_induks` WRITE;
/*!40000 ALTER TABLE `realisasi_induks` DISABLE KEYS */;
INSERT INTO `realisasi_induks` VALUES (27,2025,'2025-12-01',2,3,'satu','satu','satu','satu','Hambatan:\r\nsatu\r\n\r\nKeberhasilan:\r\nsatu','satu','satu','satu','satu','satu',NULL,NULL,'2025-12-29 21:07:27','2025-12-29 21:07:27');
/*!40000 ALTER TABLE `realisasi_induks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `realisasi_keberhasilan`
--

DROP TABLE IF EXISTS `realisasi_keberhasilan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `realisasi_keberhasilan` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `induk_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint unsigned NOT NULL,
  `keberhasilan` text COLLATE utf8mb4_unicode_ci,
  `keberhasilan_tw1` text COLLATE utf8mb4_unicode_ci,
  `hambatan` text COLLATE utf8mb4_unicode_ci,
  `hambatan_tw1` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `keberhasilan_tw2` text COLLATE utf8mb4_unicode_ci,
  `keberhasilan_tw3` text COLLATE utf8mb4_unicode_ci,
  `keberhasilan_tw4` text COLLATE utf8mb4_unicode_ci,
  `hambatan_tw2` text COLLATE utf8mb4_unicode_ci,
  `hambatan_tw3` text COLLATE utf8mb4_unicode_ci,
  `hambatan_tw4` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `realisasi_keberhasilan_user_id_foreign` (`user_id`),
  KEY `fk_keberhasilan_induk` (`induk_id`),
  CONSTRAINT `fk_keberhasilan_induk` FOREIGN KEY (`induk_id`) REFERENCES `realisasi_induks` (`id`) ON DELETE CASCADE,
  CONSTRAINT `realisasi_keberhasilan_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `realisasi_keberhasilan`
--

LOCK TABLES `realisasi_keberhasilan` WRITE;
/*!40000 ALTER TABLE `realisasi_keberhasilan` DISABLE KEYS */;
INSERT INTO `realisasi_keberhasilan` VALUES (19,27,1,'','done','','fail','2025-12-29 21:43:47','2025-12-30 10:08:27','tester',NULL,NULL,'tester',NULL,NULL);
/*!40000 ALTER TABLE `realisasi_keberhasilan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `realisasi_keuangans`
--

DROP TABLE IF EXISTS `realisasi_keuangans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `realisasi_keuangans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `induk_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint unsigned NOT NULL,
  `triwulan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target` double DEFAULT NULL,
  `realisasi` double DEFAULT NULL,
  `capaian` double DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `realisasi_keuangans_user_id_foreign` (`user_id`),
  KEY `fk_keuangans_induk` (`induk_id`),
  CONSTRAINT `fk_keuangans_induk` FOREIGN KEY (`induk_id`) REFERENCES `realisasi_induks` (`id`) ON DELETE CASCADE,
  CONSTRAINT `realisasi_keuangans_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `realisasi_keuangans`
--

LOCK TABLES `realisasi_keuangans` WRITE;
/*!40000 ALTER TABLE `realisasi_keuangans` DISABLE KEYS */;
INSERT INTO `realisasi_keuangans` VALUES (9,NULL,1,'I',20,4,20,'2025-11-13 16:26:25','2025-11-13 16:26:25'),(10,NULL,1,'I',20,4,20,'2025-11-13 16:38:36','2025-11-13 16:38:36'),(11,NULL,1,'I',20,4,20,'2025-11-13 16:39:01','2025-11-13 16:39:01'),(59,27,1,'I',1000,NULL,0,'2025-12-29 21:43:47','2025-12-29 21:43:47'),(60,27,1,'II',1000,NULL,0,'2025-12-30 10:08:27','2025-12-30 10:08:27');
/*!40000 ALTER TABLE `realisasi_keuangans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `realisasi_outcomes`
--

DROP TABLE IF EXISTS `realisasi_outcomes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `realisasi_outcomes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `induk_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint unsigned NOT NULL,
  `triwulan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `uraian` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `realisasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `capaian` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `realisasi_outcomes_user_id_foreign` (`user_id`),
  KEY `fk_outcomes_induk` (`induk_id`),
  CONSTRAINT `fk_outcomes_induk` FOREIGN KEY (`induk_id`) REFERENCES `realisasi_induks` (`id`) ON DELETE CASCADE,
  CONSTRAINT `realisasi_outcomes_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `realisasi_outcomes`
--

LOCK TABLES `realisasi_outcomes` WRITE;
/*!40000 ALTER TABLE `realisasi_outcomes` DISABLE KEYS */;
INSERT INTO `realisasi_outcomes` VALUES (13,NULL,1,'I','jalan diperbaiki jadi lebih baik','20','4','20','2025-11-13 16:26:25','2025-11-13 16:26:25'),(14,NULL,1,'I','jalan diperbaiki jadi lebih baik','0','0','0','2025-11-13 16:38:36','2025-11-13 16:38:36'),(15,NULL,1,'I','jalan diperbaiki jadi lebih baik','20','4','20','2025-11-13 16:39:01','2025-11-13 16:39:01'),(67,27,1,'I','testing','12','12','100','2025-12-29 21:43:47','2025-12-29 21:43:47'),(68,27,1,'II','tester','10','10','100','2025-12-30 10:08:27','2025-12-30 10:08:27');
/*!40000 ALTER TABLE `realisasi_outcomes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `realisasi_outputs`
--

DROP TABLE IF EXISTS `realisasi_outputs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `realisasi_outputs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `induk_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint unsigned NOT NULL,
  `triwulan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `uraian` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `realisasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `capaian` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `realisasi_outputs_user_id_foreign` (`user_id`),
  KEY `fk_outputs_induk` (`induk_id`),
  CONSTRAINT `fk_outputs_induk` FOREIGN KEY (`induk_id`) REFERENCES `realisasi_induks` (`id`) ON DELETE CASCADE,
  CONSTRAINT `realisasi_outputs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `realisasi_outputs`
--

LOCK TABLES `realisasi_outputs` WRITE;
/*!40000 ALTER TABLE `realisasi_outputs` DISABLE KEYS */;
/*!40000 ALTER TABLE `realisasi_outputs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `realisasi_sasarans`
--

DROP TABLE IF EXISTS `realisasi_sasarans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `realisasi_sasarans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `induk_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint unsigned NOT NULL,
  `uraian` text COLLATE utf8mb4_unicode_ci,
  `target_tw1` decimal(18,2) DEFAULT NULL,
  `target_tw2` decimal(18,2) DEFAULT NULL,
  `target_tw3` decimal(18,2) DEFAULT NULL,
  `target_tw4` decimal(18,2) DEFAULT NULL,
  `realisasi_tw1` decimal(18,2) DEFAULT NULL,
  `realisasi_tw2` decimal(18,2) DEFAULT NULL,
  `realisasi_tw3` decimal(18,2) DEFAULT NULL,
  `realisasi_tw4` decimal(18,2) DEFAULT NULL,
  `target` decimal(18,2) DEFAULT NULL,
  `realisasi` decimal(18,2) DEFAULT NULL,
  `capaian` decimal(18,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `realisasi_sasarans_user_id_foreign` (`user_id`),
  KEY `fk_sasarans_induk` (`induk_id`),
  CONSTRAINT `fk_sasarans_induk` FOREIGN KEY (`induk_id`) REFERENCES `realisasi_induks` (`id`) ON DELETE CASCADE,
  CONSTRAINT `realisasi_sasarans_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `realisasi_sasarans`
--

LOCK TABLES `realisasi_sasarans` WRITE;
/*!40000 ALTER TABLE `realisasi_sasarans` DISABLE KEYS */;
INSERT INTO `realisasi_sasarans` VALUES (23,27,1,'testing sasaran',NULL,10.00,NULL,NULL,NULL,10.00,NULL,NULL,10.00,10.00,0.00,'2025-12-29 21:43:47','2025-12-30 10:08:27');
/*!40000 ALTER TABLE `realisasi_sasarans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seksis`
--

DROP TABLE IF EXISTS `seksis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seksis` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `bidang_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bidang_id` (`bidang_id`),
  CONSTRAINT `seksis_ibfk_1` FOREIGN KEY (`bidang_id`) REFERENCES `bidangs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seksis`
--

LOCK TABLES `seksis` WRITE;
/*!40000 ALTER TABLE `seksis` DISABLE KEYS */;
INSERT INTO `seksis` VALUES (1,'Pengelolaan Informasi Publik',1,NULL,NULL),(2,'Infrastruktur Informatika',2,NULL,NULL),(3,'Aplikasi Informatika',2,NULL,NULL),(4,'Statistik Sektoral',1,NULL,NULL),(5,'Persandian dan Keamanan Informasi',3,NULL,NULL),(6,'Pengelolaan Data dan Informasi Statistik',3,'2025-11-16 19:21:39','2025-11-16 19:21:39');
/*!40000 ALTER TABLE `seksis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nip` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('superuser','admin','user') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  `is_locked` tinyint(1) DEFAULT '0',
  `jabatan_id` bigint unsigned DEFAULT NULL,
  `bidang_id` bigint unsigned DEFAULT NULL,
  `seksi_id` bigint unsigned DEFAULT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `jabatan_id` (`jabatan_id`),
  KEY `users_bidang_id_fk` (`bidang_id`),
  KEY `users_seksi_id_fk` (`seksi_id`),
  CONSTRAINT `users_bidang_id_fk` FOREIGN KEY (`bidang_id`) REFERENCES `bidangs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`jabatan_id`) REFERENCES `jabatans` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_seksi_id_fk` FOREIGN KEY (`seksi_id`) REFERENCES `seksis` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-06 13:27:34
